@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background: #FF6600;
  font-family: 'Roboto', sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 8px;
}

.div1 {
  background: #f1c40f;
  text-align: center;
  grid-column: span 3 / span 3;
}

.div4 {
  background: #e74c3c;
  text-align: center;
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
}

.div5 {
  background: #9b59b6;
  text-align: center;
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-row-start: 2;
}
