.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background: lightblue; /* แค่ใส่สีให้มองเห็น */
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  background: lightgreen; /* แค่ใส่สีให้มองเห็น */
  display: flex;
  align-items: center;
  justify-content: center;
}
