/* Base/Desktop Styles */
.card {
  display: flex;
  flex-direction: column;
  width: 100%; /* [FIX] แก้ไขจาก width: 100 */
  height: 100%;
  background-color: #F5F5F5;
  border-radius: 20px;
  box-shadow: 4px 4px 10.8px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 4px 4px 10.8px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* เพิ่ม Padding เพื่อให้มีระยะห่าง */
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.cardTitle {
  color: #FF6600;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
}

.cardContent {
  flex: 1;
  padding: 0 ;
}

.chartContainer {
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1 / 1;
  max-height: 220px; /* ขยายขนาดเริ่มต้นเล็กน้อย */
}

.cardFooter {
  background-color: #F5F5F5;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-around;
  padding: 0.75rem;
  margin: 0 2rem 2rem 2rem;
}

.itemContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.indicatorImport {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #8FD14F;
  margin-top: 0.25rem;
}

.indicatorExport {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #604CC3;
  margin-top: 0.25rem;
}

.label {
  font-size: 0.75rem; /* 12px */
  color: #787878;
  margin: 0;
}

.value {
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  color: #787878;
  margin: 0;
}

.divider {
  width: 1px;
  height: 2.5rem;
  background-color: #D1D5DB; /* gray-300 */
}

/* Tablet breakpoint (<= 768px) */
@media (max-width: 768px) {

  .cardTitle {
    font-size: 1rem; /* 16px */
  }

  .chartContainer {
    max-height: 200px;
  }

  .cardFooter {
    margin: 0 1.5rem 1.5rem 1.5rem;
  }

  .value {
    font-size: 1.125rem; /* 18px */
  }
}


